<h3>Carrinho</h3>
<p>
  <a routerLink="/shipping">Calcular frete</a>
</p>
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nome</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="address">
      Endereço
    </label>
    <input type="text" id="address" formControlName="address">
  </div>
  <button class="button" type="submit"> Comprar </button>
</form>
